@font-face{
	font-family: roboto;
	src: url(fonts/roboto.woff);
}
@font-face{
	font-family: robotobold;
	src: url(fonts/robotobold.woff);
}
@font-face{
	font-family: robotomedium;
	src: url(fonts/robotomedium.woff);
}
.container{
	padding: 0 140px;
	max-width: 1500px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header{
	background-color: #eeeeee;
	padding-top: 30px;
}
.header li{
	display: inline;
	padding: 0 30px;
}
a{
	text-decoration: none;
	color: #000000;
}
.navigation__list, .navigation__basket{
	font-family: robotomedium;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}
.welcome{
	background-color: #eeeeee;
	padding-top: 20px;
}
.welcome__text{
	background-image: url(img/slide1.png);
	width: 100%;
	height: 413px;
	background-position: 95% bottom;
	background-repeat: no-repeat;
}
.welcome__text h2{
	font-family: robotomedium;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}
.welcome__text p{
	font-family: roboto;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 50px;
}
.welcome__text a{
	font-family: robotomedium;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	padding: 20px 50px;
	background-color: #fb565a;
	text-align: center;
	border-radius: 5px;
}
.welcome__row{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.advantages h3{
	font-family: robotobold;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}
.advantages p{
	font-family: roboto;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 50px;
}
.advantages a{
	font-family: robotomedium;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	padding: 20px 40px;
	border-radius: 5px;
}
.advantages__web a{
	background-color: #fb565a;
}
.advantages__app a{
	background-color: #00ca74;
}
.advantages__pre a{
	background-color: #efc84a;
}
.advantages__row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.advantages__web, .advantages__app, .advantages__pre{
	width: 300px;
	margin: 80px 0;
}
.studio h2{
	font-family: robotomedium;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}
.studio h3{
	font-family: robotobold;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin:40px 0;
}
.studio p{
	font-family: roboto;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}
.studio__about{
	width: 660px;
}
.studio__row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.studio__statistic img{
	margin: 35px;
}
.studio__about span{
	display: inline-block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin-bottom: 5px;
	margin-right: 10px;
}
.partners__row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 80px 0;
}
.partners__one{
	margin: 30px;
}
.map{
	position: relative;
}
.map__info{
	position: absolute;
	background-color: white;
	top: 65px;
	left: 150px;
}
.map__info h3{
	font-family: robotobold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	padding: 30px 40px 10px 40px;
}
.map__info p{
	font-family: roboto;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	padding: 10px 40px 10px 40px;
}
.map__info span{
	display: block;
	padding-top: 15px;
	padding-bottom: 50px;
}
.map__info a{
	font-family: robotomedium;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #fb565a;
	padding: 15px 40px;
	border-radius: 5px;
	margin: 10px 40px 10px 40px;
	position: relative;
	bottom: 40px;
}
.footer h3{
	font-family: robotobold;
	font-size: 44px;
	line-height: 30px;
	color: #000000;
}
.footer p{
	font-family: roboto;
	font-size: 22px;
	line-height: 24px;
	color: #283136;
}